<div class="container">
  <div class="row">
    <div class="col-sm-3 px-sm-0 offset-sm-1">
      <h2>マイページ</h2>
    </div>

<table class="table .table-striped-columns  bg-light">
    <tbody>
        <tr>
            <th width="20%">氏名</th>
            <td><%= @customer.last_name %> <%= @customer.first_name %></td>
        </tr>
        <tr>
            <th>カナ</th>
            <td><%= @customer.last_name_kana %> <%= @customer.first_name_kana %></td>
        </tr>
        <tr>
            <th>郵便番号</th>
            <td><%= @customer.postal_code %></td>
        </tr>
        <tr>
            <th>住所</th>
            <td><%= @customer.address %></td>
        </tr>
        <tr>
            <th>電話番号</th>
            <td><%= @customer.telephone_number %></td>
        </tr>
        <tr>
            <th>メールアドレス</th>
            <td><%= @customer.email %></td>
        </tr>
    </tbody>
</table>
    <div class="col-10">
      <%= link_to "編集する",  customers_edit_path, class: "btn btn-success mb-4" %><br>
    </div>
    
    <div class="col-10">
      <strong>予約履歴</strong>  <%= link_to " 一覧を見る", reservations_path, class: "btn btn-primary mb-4" %>
    </div>
    
</div>
</div>
</div>
