<div class="container mt-5 mb-5 pt-5">
  <div class="row text-center text-xs-center text-sm-left text-md-left">
    <div class="col-xs-12 col-sm-12 col-md-6 mx-auto text-right">
      <%= image_tag @store.get_image(400,250) %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 mx-auto">
      <h2><%= @store.name %></h2>
      <p><%= @store.introduction %></p>
      <% if customer_signed_in? %>
        <p id="favorite_btn_<%= @store.id %>">
          <%= render "public/favorites/btn", store: @store %>
        </p>
        <%= link_to "予約画面へ", new_store_reservation_path(@store), class: "btn btn-outline-dark" %></li>
      <% else %>
        予約画面に進むには
        <%= link_to "新規登録へ", new_customer_registration_path, class: "btn btn-outline-dark" %></li></br>
        または
        <%= link_to "ログインへ", new_customer_session_path, class: "btn btn-outline-dark" %></li>
      <% end %>
      
    </div>
  </div>
</div>