<div class="container mt-5 mb-5 pt-5">
  <div class="row text-center text-xs-center text-sm-left text-md-left">
    <div class="col-xs-12 col-sm-12 col-md-6 mx-auto text-right">
      <%= image_tag @store.get_image(400,250) %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 mx-auto">
      <h2><%= @store.name %></h2>
      <p><%= @store.introduction %></p>
      <p id="favorite_btn_<%= @store.id %>">
        <%= render "public/favorites/btn", store: @store %>
      </p>
      <%= link_to "予約画面へ", new_store_reservation_path(@store), class: "btn btn-outline-dark" %></li>
    </div>
  </div>
</div>