<div class="container">
  <div class="row my-3">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>管理者ログイン</h2>
    </div>
  </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row mb-3">
      <div class="col-sm-3 px-sm-0 offset-sm-1">
        <%= f.label :"メールアドレス" %>
      </div>
      <div class="col-sm-3 px-sm-0">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", :size => "30*30" %>
      </div>
    </div>

      <div class="row">
        <div class="col-sm-3 px-sm-0 offset-sm-1">
          <%= f.label :"パスワード" %>
        </div>
        <div class="col-sm-3 px-sm-0">
          <%= f.password_field :password, autocomplete: "current-password", :size => "30*30" %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-3 px-sm-0 offset-sm-4">
          <%= f.submit "ログイン", class: "btn btn-primary px-4 mt-3 mb-5" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
</div>