<div class="container">
  <div class="row">
    <div class="col-sm-3 px-sm-0 offset-sm-1">
      <h2>店舗編集</h2>
    </div>

    <div class="col-md-6 offset-md-3">
      <%= form_with model: @store, url: admin_store_path(@store), method: :patch do |f| %>
      <table class="table">
        <tr>
          <th style="border:none;">店舗画像</th>
          <td style="border:none;"><%= f.file_field :image, accept: "image/*" %></td>
        </tr>
        <tr>
          <th style="border:none;">店舗名</th>
          <td style="border:none;"><%= f.text_field :name, size: "30x20" %></td>
        </tr>
        <tr>
          <th style="border:none;">店舗説明</th>
          <td style="border:none;"><%= f.text_area :introduction, size: "30x5" %></td>
        </tr>
        <tr>
          <th style="border:none;">ジャンル</th>
          <td style="border:none;"><%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), size: "30x20" %></td>
        </tr>
      </table>
      <div class="col d-flex justify-content-center">
         <%= f.submit "変更を保存", class: "btn btn-success btn-lg mx-auto" %>
      </div>
      <% end %>
    </div>
  </div>
</div>