<div class="container">
  <div class="row">
    <div class="col-sm-8 px-sm-0 offset-sm-1">
      <h2>店舗一覧</h2>
    </div>
    
    <div>
      <%= link_to new_admin_store_path do %>
        <i class="fa-solid fa-circle-plus"></i>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-10 px-sm-0 mx-auto mb-5">
      <table class="table text-center mb-5">
        <thead>
          <tr>
            <th>店舗ID</th>
            <th>店舗名</th>
            <th>ジャンル</th>
          </tr>
        </thead>
        <tbody>
          <% @stores.each do |store| %>
            <tr>
              <td>
                <%= store.id %>
              </td>
              <td>
                <%= link_to admin_store_path(store.id) do %>
                  <%= store.name %>
                <% end %>
              </td>
              <td>
                <%= store.genre.name %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
