<div class="container">
  <h4 class="title bg-light"><strong>予約履歴一覧</strong></h4>
  <div class="row">
    <div class="col">

      <table class="table table-bordered mt-2">
        <thead>
          <tr class="bg-light">
            <th>注文日</th>
            <th>配送先</th>
            <th>注文商品</th>
            <th>支払金額</th>
            <th>ステータス</th>
            <th>注文詳細</th>
          </tr>
        </thead>

        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td><%= order.created_at.strftime("%Y/%m/%d") %></td>
            <td>
              <%= "〒" + order.postal_code %><br>
              <%= order.address %><br>
              <%= order.name %>
            </td>
            <td>
              <% order.order_details.each do |order_detail| %>
                <%= order_detail.item.name %><br>
              <% end %>
            </td>
            <td><%= order.total_payment %></td>
            <td><%= order.status_i18n %></td>
            <td><%= link_to "表示する", order_path(order.id), class:"btn btn-primary" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

      <div class="col d-flex justify-content-center">
        <%= paginate @orders %>
      </div>
    </div>
  </div>
</div>