<div class ="container">
  <h4 class ="title bg-light"><strong>予約情報入力</strong></h4>

  <%= form_with model: @reservation, url: confirm_reservations_path, method: :post do |f| %>
  <div class ="row">
    <div class ="col">
      <div class ="address_select">
        <label for ="inputName">宛名</label>
          <%= f.text_field :name, placeholder:"田中太郎", id:"inputName", class:"form-control" %>
        
        <label for ="inputAddress">住所</label>
          <%= f.text_field :address, placeholder:"〇〇県〇〇市〇〇区〇〇町00-0", id:"inputAddress", class:"form-control" %>
          
        <label for ="inputTelephone_number">電話番号(ハイフンなし)</label>
          <%= f.text_field :telephone_number, placeholder:"0000000000", id:"inputTelephone_number", class:"form-control" %>
          
        <label for ="inputEmail">メールアドレス</label>
          <%= f.email_field :email, placeholder: "sample@example.com", id:"inputEmail", class:"form-control" %>
          
        <label for ="inputTime">来店時間</label>
          <%= f.time_field :time, id:"inputEmail", class:"form-control" %>
          
        <label for ="inputDate">来店日時</label>
          <%= f.date_field :day, id:"inputDate", class:"form-control" %>
      </div>

      <div class ="col-4 mx-auto my-3">
        <%= f.submit "確認画面へ進む", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>
</div>